body {
	background: linear-gradient(to top, #F6A281, white)
}

#container {
	height: 100vh;
}

#title {
	display: block;
	margin: 0 auto;
}

#bubble {
	width: 25%;
	position: absolute;
	top: 10%;
}

@keyframes enter {
	0% { right: 0px; }
	50% { right: 250px; }
	99% { right: 250px; }
	100% {right: 0px;}
}

@keyframes grow{
	0% { width: 400px; }
	50% { width: 600px; }
	99% { width: 600px; }
	100% { width: 400px; }
}

@keyframes screech_in{
	0% {
		left: 100px;
	}
	15% { left: 210px;
		top: 450px;
	}
	99% { left: 210px;
		top: 450px;
	}
	100%{
		left: -200px;
	}
}

@keyframes rock {
	0% { transform: rotateZ(2deg); }
	50% { transform: rotateZ(-2deg); }
	100% { transform: rotateZ(2deg); }
}



#billboard_container {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#billboard_container div {
	width: 250px;
	height: 200px;
	align-self: flex-start;
	position: relative;
	overflow: hidden;
}

#billboard_container img {
	position: absolute;
}

#billboard_container .front {
	z-index: -1;
}

#billboard_container .scroll_up {
	transform: translateY(-100%);
	transition: 1s;
}

.billboard_fill {
	position: relative;
	height: auto;
	z-index: -2;
}

#car1 {
	position: absolute;
	top: 400px;
	right: 0px;
	width: 400px;
}

#car2 {
	position: absolute;
	top: 400px;
	left: -200px;
	width: 400px;
}

.car_go {
	position: absolute;
	top: 400px;
	animation: enter 4s forwards, grow 4s forwards, rock 0.2s 8 forwards;
	width: 400px;
}

.car_2_go {
	position: absolute;;
	top: 400px;
	animation: screech_in 3s 1.5s forwards;
	width: 400px;
}
